@import 'vars';
@import 'functions';

html,
body {
  font-family: $font-family;
  font-size: $fz-default;
  text-align: left;
  color: $c-default;
}

/***************************************
** HEADINGS
***************************************/
h1 {
  font: rem(48) $font-family-heading;
  line-height: 1;
  font-weight: 900;
  margin: 0 0 40px 0;
}

h2 {
  font: $fz-large $font-family-heading;
  line-height: 1.11;
  font-weight: 900;
  margin: 0 0 20px 0;
}

h3 {
  font: $fz-medium $font-family-heading;
  line-height: 1;
  font-weight: 900;
  margin: 0 0 20px 0;
}

h4, h5, h6 {
  font: $fz-default $font-family-heading;
  line-height: 1;
  font-weight: 900;
  margin: 0 0 20px 0;
}

a {
  color: $c-link;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  will-change: opacity;
  &:hover,
  &:active {
    color: $c-primary;
  }
}