@import 'functions';

/***************************************
** COLORS
***************************************/
$c-default: #434343;
$c-bg: #f8f8f8;
$c-primary: #f1c40f;
$c-link: #2c3e50;

/***************************************
** FONTS
***************************************/
$font-family-heading: 'Catamaran', Helvetica, Arial, serif;
$font-family: 'Roboto', Helvetica, Arial, serif;

$fz-small: rem(13);
$fz-default: rem(16);
$fz-medium: rem(26);
$fz-large: rem(32);
