@import 'functions';

/***************************************
** COLORS
***************************************/
$c-default: #2c2e2c;

/***************************************
** FONTS
***************************************/
$font-family-heading: 'Catamaran', Helvetica, Arial, serif;
$font-family: 'Roboto', Helvetica, Arial, serif;

$fz-small: rem(12);
$fz-default: rem(14);
$fz-medium: rem(16);
$fz-large: rem(18);
