@import 'font';
@import 'typo';
@import 'vars';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, html {
  background-color: $c-bg;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 20px 30px;
}