@import 'font';
@import 'typo';
@import 'vars';
@import 'mq';

*,
*:before,
*:after {
  box-sizing: border-box;
}

mark {
  background-color: $c-primary;
  color: $c-default;
}

body, html {
  background-color: $c-bg;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 30px 30px;

  @include mq($until: tablet) {
    padding: 40px 20px 20px;
  }
}